<a name="contacto" id="contacto"></a>
<footer class="mt-3">
  <div class="container-fluid text-center ">
    <div class="row contac" data-aos="zoom-out-left">
      <div class="col-md-12 mt-5">
        <h3 class="h3-footer">Puedes contactar conmigo en:</h3>
        <a href="https://www.linkedin.com/in/salvadorhenaresjimenez/" target="_blank" class="btn-github m-5"><i class="fab fa-linkedin "></i></a>
        <a href="https://github.com/SahJ00" target="_blank" class="btn-linkedin m-5"><i
            class="fab fa-github-square"></i> </a>
        <a href="mailto:salvador.henares@gmail.com" target="_blank" class="btn-email m-5"><i class="fa fa-envelope"></i>
        </a>
      </div>
      <hr>
    </div>
    <div class="row copyr" >
      <div class="col-md-12 mt-5">
        <h5 class="h5-footer">Porfolio creado por Salvador Henares Jiménez &copy;2019</h5>
      </div>
    </div>
  </div>

</footer>
