/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem !important;
  font-weight: bold !important;
  color: #2980b9 !important;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem !important;
  font-weight: 400;
  color: #2980b9;
}

body,
html {
  background-color: #ecf0f1;
  max-width: 100%;
  overflow-x: hidden;
}



span {
  color: #ecf0f1;
}

.card img {
  max-height: 300px;
}
