
<a name="inicio" id="inicio"></a>
<header class="v-header container">

  <div class="fullscreen-video-wrap">
    <video src="./assets/video/Laptop_1_Videvo.mov" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay">

  </div>
  <div class="header-content" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="500">
    <img src="./assets/images/image-perfil.jpg" alt="image-perfil" class="img-fluid rounded-circle image-perfil">
    <h1><span>Desarrollador de aplicaciones Web</span></h1>
    <p><span>Profesional y muy creativo, las ideas proceden del aprendizaje, me gusta saber cosas nuevas que inspiran,
        me gusta reflexionar hasta alcanzar la máxima calidad en lo que hago. No tomo decisiones sin haber pensado en
        las posibles opciones. Soy Dinámico y trabajo muy bien en grupo.</span></p>
    <a href="https://www.linkedin.com/in/salvadorhenaresjimenez/" target="_blank" class=btn><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/SahJ00" target="_blank" class=btn><i
        class="fab fa-github-square"></i></a>
  </div>
</header>
