<a name="trabajos" id="trabajos"></a>
<div class="container-fluid text-center work-container">

  <h1 class="mt-3"> Mis trabajos </h1>
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/endgame.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Endgame</h3>
          <p class="card-text">Página creada con Angular para recordar quienes son los caidos de los vengadores endgame.
          </p>
          <a href="https://endgame-56ee5.firebaseapp.com/" target="_blank" class="btn btn-primary mr-3"><i
              class="fa fa-eye"></i> Ver
            web</a>
          <a href="https://github.com/SahJ00/Endgame" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/creamicontrato.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Creamicontrato</h3>
          <p class="card-text">Página creada con Vue para poder crear algunos tipos de contratos.
          </p>
          <a href="https://www.creamicontrato.es/" target="_blank" class="btn btn-primary mr-3"><i
              class="fa fa-eye"></i> Ver
            web</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/juegofutbol.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Soccer Star</h3>
          <p class="card-text">Juego creado con Babylonjs para la plataforma instant-games de facebook.
          </p>
          <a href="https://www.facebook.com/instantgames/1915555908738471/?ref=bookmarks&count=0&fb_bmpos=_0&source=www_app_bookmark"
            target="_blank" class="btn btn-primary mr-3"><i class="fa fa-eye"></i> Ver
            juego</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/default.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Frontend - AngularBlog</h3>
          <p class="card-text">Blog creada con Angular.
          </p>
          <a href="https://github.com/SahJ00/FRONTEND-BLOG" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/default.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Backend - Laravel</h3>
          <p class="card-text">Backend creado con laravel para el AngularBlog.
          </p>
          <a href="https://github.com/SahJ00/API-Blog-Laravel" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/controlClientes.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Control de clientes</h3>
          <p class="card-text">Página creada con Angular.<br>
            Para poder usarlo logearse con email user@user.com y contraseña 123456.
          </p>
          <a href="https://control-clientes-ab1c5.firebaseapp.com/" target="_blank" class="btn btn-primary mr-3"><i
              class="fa fa-eye"></i> Ver
            web</a>
          <a href="https://github.com/SahJ00/Angular-7/tree/master/mi-primera-app" target="_blank"
            class="btn btn-secondary ml-3"><i class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/listadoPersonas.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Listado de personas</h3>
          <p class="card-text">Página creada con Angular.<br>
            Para poder usarlo logearse con email usuario@usuario.com y contraseña 123456789.
          </p>
          <a href="https://listado-persona.firebaseapp.com/" target="_blank" class="btn btn-primary mr-3"><i
              class="fa fa-eye"></i> Ver
            web</a>
          <a href="https://github.com/SahJ00/Angular-7/tree/master/listado-persona" target="_blank"
            class="btn btn-secondary ml-3"><i class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/marvel-api.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Marvel Api</h3>
          <p class="card-text">Página creada con Angular y la api de marvel.
          </p>
          <a href="https://web-api-marvel.herokuapp.com/" target="_blank" class="btn btn-primary mr-3"><i
              class="fa fa-eye"></i> Ver
            web</a>
          <a href="https://github.com/SahJ00/Marvel-Api" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/comic-view.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Comic-view</h3>
          <p class="card-text">Página creada con Vue.<br>
            Para poder conectaros usar el email usuario@usuario.com y contraseña 123456789.
          </p>
          <a href="https://comic-view.herokuapp.com/" target="_blank" class="btn btn-primary mr-3"><i
              class="fa fa-eye"></i> Ver
            web</a>
          <a href="https://github.com/SahJ00/Comic-View" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/default.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Backend - Comic-view</h3>
          <p class="card-text">Backend creado con node y graphql para Comic-View.
          </p>
          <a href="https://github.com/SahJ00/Comic-api" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/apipokemon.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Pokemon API</h3>
          <p class="card-text">Pokemon API creado con HTML5, CSS3, Jquery.
          </p>
          <a href="https://github.com/SahJ00/To-Do-List-JQuery" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/todolist.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">To Do List</h3>
          <p class="card-text">To Do List creado con HTML5, CSS3, Jquery.
          </p>
          <a href="https://github.com/SahJ00/To-Do-List-JQuery" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card" data-aos="zoom-in-down">
        <img class="card-img-top" src="./assets/images/pizzaBuider.JPG" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Pizza Builder</h3>
          <p class="card-text">Pizza Builder creado con HTML5, CSS3, Jquery.
          </p>
          <a href="https://github.com/SahJ00/pizza-builder" target="_blank" class="btn btn-secondary ml-3"><i
              class="fa fa-github"></i>
            Ver código</a>
        </div>
      </div>
    </div>




  </div>
